.page.theme_dark {
    --accent-color: #FF0070;
    --background-color: #000028;
    --text-color: #F1B2CE;
    --text-on-accent-color: #000028;
    --title-color : #DB00FF;
    --border-color :#FF0070;
    --section-title-color : #FF0070;
    --background-image: url(../images/cover-image-dark.png);
}

.decoration-element {
    visibility: visible;
  }

@media (prefers-color-scheme: dark) {
    .page {
        --accent-color: #FF0070;
        --background-color: #000028;
        --text-color: #F1B2CE;
        --text-on-accent-color: #000028;
        --title-color : #DB00FF;
        background-color: var(--background-color);
        background-image: url(../images/cover-image-dark.png);
    }
}