.page.theme_dark {
    --accent-color: #FF0070;
    --background-color: #000028;
    --text-color: #F1B2CE;
    --text-on-accent-color: #000028;
    --title-color : #DB00FF;
    --border-color :#FF0070;
    --section-title-color : #FF0070;
    --background-image: url(../images/cover-image-dark.png);
    --outline-hover-color: #FF007066;
}

.page.theme_dark .decoration-element {
    visibility: visible;
}

.page.theme_dark .decoration-element::before {
    visibility: visible;
}

   
@media (prefers-color-scheme: dark) {
    .page {
        --accent-color: #FF0070;
        --background-color: #000028;
        --text-color: #F1B2CE;
        --text-on-accent-color: #000028;
        --title-color : #DB00FF;
        --border-color :#FF0070;
        --section-title-color : #FF0070;
        --background-image: url(../images/cover-image-dark.png);
        --outline-hover-color: #FF007066;
    }
}