/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF8DCB;
  --background-color: #FFF1F7;
  --text-color: #353430;
  --text-on-accent-color: #353430;
  --title-color : #FFC2E6;
}